<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Site Icons -->
    <link
        rel="shortcut icon"
        href="/assets/logo.svg"
        alt="msb-srt-logo"
    />
    <link
        rel="apple-touch-Icons"
        href="/assets/logo.svg"
        alt="msb-a-bg-logo"
    />

    <title>InvestoPay - Let's get started</title>
    <meta name="description" content="Making investing in comodities easy, simple and part of daily transactions">

</head>

<body>
    <div class="main">
        
        <div class="container-fluid gx-0">

            <div class="navbar custom-navbar py-4">
                <div class="container gx-4">

                    <div class="navbar-brand d-flex align-items-center">
                        <img src="/assets/logo.svg" alt="InvestoPay Logo" class="brand-img">
                        <span class="ms-3">investoPay</span>
                    </div>

                    <button class="navbar-toggler d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
                    </button>

                    <div class="collapse navbar-collapse" id="mainNavbar">
                        <ul class="navbar-nav my-5">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="'/dashboard/<%= user._id %>'">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                          </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="main-body py-5">
                <div class="container gx-4">
                    <form action="post" class="custom-form">
                        <div class="main-form">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="top-area">
                                    <div class="border info">
                                        <div style="margin-top: 1rem;">
                                            <p class="p1">Name</p>
                                            <p class="p11"><%= user.name %></p>
                                        </div>
                                        <div>
                                            <p class="p3">Phone</p>
                                            <p class="p33"><%= user.mobile %></p>
                                        </div>
                                    </div>
                                    <div class="border wall">
                                        <h3 class="mainh3">Invested Balance</h3>
                                        <h4 class="mainh4"><span style="display: inline;"><img class="rupees" src="/assets/rupees.svg" alt=""></span><%= user.investment %></h4>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .toggle-btn {
        background-color: #e5e5e5;
        border-radius: 25rem;
        padding: 0.4rem;
      }
      .custom-btn {
        border-radius: 25rem;
        color: #808080;
        text-decoration: none;
        padding: 0.75rem 1.5rem;
      }

      .custom-btn:hover {
        color: #000000;
      }

      .custom-btn.active {
        background-color: #ffffff;
        color: #000000;
      }

      .smiley{
        margin-left: 7rem;
        width: 54px;
      }

      .rupees{
        width: 14px;
      }
      .invested,
      .vendor{
        font-size: 1.2rem;
        font-family: "Poppins";
        width: 80%; 
        text-align: right;
        display: inline;
      }
      .info {
        margin-top: 3rem;
        box-shadow: 2px 2px rgb(184, 184, 184);
        height: 10rem;
        width: 80%;
        margin: auto;
        border-radius: 8px;
    }
    .wall{
        margin-top: 6rem;
        box-shadow: 2px 2px rgb(184, 184, 184);
        height: 10rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
    }
                            
     .p1,
     .p11  {
        font-family: "Poppins";
        font-size: 1rem;
        margin-top: 1.5rem;
        margin-left: 0.7rem;
        color: #000000;
        display: inline;
    }                            
    .p3,
    .p33 {
    font-family: "Poppins";
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 0.7rem;
    color: #000000;
    display: inline;
    }

    .mainh4{
        font-size: 1.2rem;
        color: #000000;
        margin-top: 2rem;
        margin-left: 3rem;
    }
    .mainh3{
        margin-left: 1rem;
    }
    .rupees{
        width: 9px;
      }

    </style>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>

