<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Site Icons -->
    <link
        rel="shortcut icon"
        href="/assets/logo.svg"
        alt="msb-srt-logo"
    />
    <link
        rel="apple-touch-Icons"
        href="/assets/logo.svg"
        alt="msb-a-bg-logo"
    />

    <title>InvestoPay - Let's get started</title>
    <meta name="description" content="Making investing in comodities easy, simple and part of daily transactions">

</head>

<body>
    <div class="main">
        
        <div class="container-fluid gx-0">

            <div class="navbar custom-navbar py-4">
                <div class="container gx-4">

                    <div class="navbar-brand d-flex align-items-center">
                        <img src="/assets/logo.svg" alt="InvestoPay Logo" class="brand-img">
                        <span class="ms-3">investoPay</span>
                    </div>

                    <button class="navbar-toggler d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
                    </button>

                    <div class="collapse navbar-collapse" id="mainNavbar">
                        <ul class="navbar-nav my-5">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
            </div>

            <div class="main-body py-5">
                <div class="container gx-4">
                    <div class="heading-payments">
                        <h1>Select Preference</h1>
                    </div>
                    <div>
                       <h2 class="heading-payments-2">Investing Amount preference </h2>
                    <form method="post" class="custom-form-payments">
                        <div class="main-form">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="top-area">
                                   
                                      <span> <input style="margin-left: 2.5rem; width: 20px;
                                        height: 20px;" class="single-checkbox" type="checkbox" name="tens" value="10s">
                                       <label class="investing10s" for="investing10s"> 10s</label></span>
                                      <span><input  style="margin-left: 2.5rem; width: 20px;
                                        height: 20px;" class="single-checkbox" type="checkbox" name="hundred" value="100s">
                                       <label class="investing100s" for="investing100s"> 100s</label></span>
                                        <label class="inputamount" for="exampleInputamount" style="color: #ffffff;">amount</label>
                                        <input type="number" class="form-control" id="exampleInputamount" name="amount" placeholder=" Amount">
                                    <div class="bottom-area">
                                          <button class="btn btn-dark w-100" style="margin-top: 5rem;">Continue <i class="bi bi-arrow-right ms-2"></i></button>
                                    </div>
                                 </div>
                              </div>
                           </div>   
                    </form>
                </div>
            </div>
        </div>
      </div>
      <style>
          .custom-form-payments{
              margin-top: 4rem;
          }
          .investing10s{
              font-size: 1.7rem;
              color: #000000;
          }
          .investing100s{
              
              font-size: 1.7rem;
              color: #000000;
          }
          .form-control{
            margin-top: 2rem;
          }
      </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      $('input[type=checkbox]').change(function(e){
   if ($('input[type=checkbox]:checked').length > 1) {
        $(this).prop('checked', false)
        alert("allowed only 1");
   }
})
       </script>
</body>

</html>

