<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>InvestoPay | Thank You</title>

</head>

<body>
    <div class="container">
        <h1 class="mainh1">Success</h1>
        <h2 class="mainh2"> <%= final %> Rs paid to vendor and <%= invest %> has been invested</h2>
        <h3 class="mainh3"> Check Total money invested in <a href="/passbook/<%= user._id %>">Passbook</a></h3>
        <h3 class="mainh3"> Back to dashboard <a href="/dashboard/<%= user._id %>">Click Here</a></h3>
    </div>
    <style>
        @media (max-width: 768px) {

            .mainh1 {
                font-family: "Zilla Slab";
                font-size: 4rem;
                margin-left: 3rem;
                margin-top: 8rem;
                color: #05445F;
            }

            .mainh2 {
                font-family: "Zilla Slab";
                font-size: 2rem;
                margin-left: 1rem;
                margin-top: 3rem;
                color: #05445F;
            }

            .mainh3 {
                font-family: "Zilla Slab";
                font-size: 1.4rem;
                margin-left: 1rem;
                margin-top: 3rem;
                color: #05445F;
            }

            .sub {
                margin-left: 3rem;
                margin-top: 2rem;
                height: 4rem;
                font-size: 1.5rem;
                background-color: #05445F;
            }
        }
    </style>
</body>
<script type="text/javascript">
    var finalname = window.localStorage.getItem('final');
    var Investedname = window.localStorage.getItem('invested');
</script>

</html>